<div data-ng-controller="MainController as vm">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div data-ng-include="'src/app/main/partials/palette.html'"></div>
			</div>
			<div class="col-md-5">
				<div data-ng-include="'src/app/main/partials/create-new-colour.html'"></div>
				<div data-ng-include="'src/app/main/partials/import-export.html'"></div>
			</div>
		</div>
	</div>
</div>