<div id="create-new-colour" class="well">
	<h4>Create New Colour:</h4>
	<label for="name">Name: </label><input class="form-control" placeholder="Enter Name of new Colour here..." data-ng-model="vm.selectedColour.name"/>
	<h5>
	{{ vm.selectedColour.name }} | {{ vm.rgbToHex(vm.selectedColour.baseColour[0], vm.selectedColour.baseColour[1], vm.selectedColour.baseColour[2]) }}    |
	    RGB({{ vm.selectedColour.baseColour[0] }}, {{ vm.selectedColour.baseColour[1] }}, {{ vm.selectedColour.baseColour[2] }})
	</h5>
	<label 
		class="btn btn-lg btn-block" 
		data-ng-style="{'background-color': vm.rgbToHex(vm.selectedColour.baseColour[0], vm.selectedColour.baseColour[1], vm.selectedColour.baseColour[2]) }">
	</label>
	<label>Red:</label><rzslider rz-slider-model="vm.selectedColour.baseColour[0]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
	<label>Green:</label><rzslider rz-slider-model="vm.selectedColour.baseColour[1]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
	<label>Blue:</label><rzslider rz-slider-model="vm.selectedColour.baseColour[2]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
	<h4>Tints:</h4>
	<div data-ng-repeat="tint in vm.selectedColour.tints">
		Tint {{ $index + 1 }} : {{ tint }}   
		<label 
			class="btn btn-lg"
			data-ng-style="{'background-color': vm.renderColourWithTintInHex(vm.selectedColour.baseColour, tint) }"
			>
		</label>
	</div>
	<button 
		class="btn btn-primary"
		data-ng-click="vm.createColour(vm.selectedColour); vm.selectedColour.name = '';">Create
	</button>
</div>