<div id="import-export" class="well">
	<h4>Import and Export Palette from JSON</h4>
	<textarea class="form-control" data-ng-model="savedPalette"></textarea>
	<button class="btn btn-primary" data-ng-click="vm.importPaletteFromJSON(savedPalette)">Import</button>
	<button class="btn btn-primary" data-ng-click="savedPalette = vm.saveCurrentPalette()">Export</button>
</div>