<div id="palette">
	<h4>Click the buttons on the far left of each colour to expand/collapse RGBA colour options and tints. You can click on the colours themselves to copy into and create as a reference for new colours on the right.
	</h4>
	<div class="well" data-ng-repeat="colour in vm.colours track by $index">
		<div data-ng-init="isCollapsed = true;" class="row">
			<div>
				<div data-ng-init="alpha = 1" class="row">
					<div class="col-md-2">
						<button 
					    	data-ng-click="isCollapsed = !isCollapsed" 
					    	class="btn btn-default glyphicon"
					    	data-ng-class="isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down' "
					    	>
					    </button>
					</div>
					<div class="col-md-5">
						<h5>
						{{ colour.name }}   |
					    {{ vm.rgbToHex(colour.baseColour[0], colour.baseColour[1], colour.baseColour[2]) }}   |
					    RGB({{ colour.baseColour[0] }}, {{ colour.baseColour[1] }}, {{ colour.baseColour[2] }})
						</h5>
					</div>
					<div class="col-md-5">
						<label 
						class="btn btn-block btn-lg"
						data-ng-click="vm.chooseColour(colour.baseColour)"
						data-ng-style="{'background-color': vm.rgbToHex(colour.baseColour[0], colour.baseColour[1], colour.baseColour[2]), 'opacity': alpha}"
						>
					</label>
					</div>
				</div>
			</div>
			<div data-uib-collapse="isCollapsed" class="row">
				<div class="col-md-6" data-ng-init="alpha = 1">
					<h4>RGBA Editor</h4>
					<label>Red:</label>
					<rzslider rz-slider-model="colour.baseColour[0]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
					<label>Green:</label>
					<rzslider rz-slider-model="colour.baseColour[1]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
					<label>Blue:</label>
					<rzslider rz-slider-model="colour.baseColour[2]" rz-slider-options="{ floor: 0, ceil: 255 }"></rzslider>
					<label>Alpha:</label>
					<rzslider rz-slider-model="alpha" rz-slider-options="{ floor: 0, ceil: 1, step:0.1, precision: 1}"></rzslider>
					<h4>Copy this colour to CSS:</h4>
					<h5>rgba({{ colour.baseColour[0] }}, {{ colour.baseColour[1] }}, {{ colour.baseColour[2] }}, {{ alpha }})</h5>
				</div>
				<div class="col-md-6">
					<h4>Tints:</h4> 
					<div data-ng-repeat="tint in colour.tints">
						Tint {{ $index + 1 }} : {{ tint }}   
						<label 
							class="btn btn-lg"
							data-ng-style="{'background-color': vm.renderColourWithTintInHex(colour.baseColour, tint) }"
							data-ng-click="vm.chooseColour(vm.addTintsAndCap(colour.baseColour, tint))"
							>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>